.outerdiv{
    position: relative;
    border: 1px solid;
    width: 15rem;
    height: 3rem;
    border-radius: 50px;
}

.innerdiv{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid aqua;
    background-color: yellow;
    transition: all 2s ease-in-out;
}